<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      <h1><%= @user.user_name %></h1>

      <div class="row mb-2">
        <div class="col-12">
          
          <h3>as Organizer</h3>
          <% if @works_as_org.present? %>
          
            <%= render "shared/index_for_projects_or_tasks", objs: @works_as_org %>
  
          <% else %>
            <h5>Nothing so far</h5>
          <% end %>
          
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          
          <h3>as One of members</h3>
          <% if @works_as_mem.present? %>
          
            <%= render "shared/index_for_projects_or_tasks", objs: @works_as_mem %>

          <% else %>
            <h5>Nothing so far</h5>
          <% end %>
          
        </div>
      </div>


    </div>
  </div>
</div>