<% if obj.errors[target].any? %>
  <div class="text-danger" id="error_explanation">
    <ul class="pl-1 mb-0" style="list-style: none;">
      <% obj.errors[target].each do |m| %>

        <li><%= "it #{m}" %></li>

      <% end %>
    </ul>
  </div>
<% end %>
