<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      
      <div class="row align-items-center">
        <div class="col-12 col-sm-9">
          <h1>Projects</h1>
        </div>
        <% if logged_in? %>
          <div class="col-12 col-sm-3">
            <%= link_to 'New Project', new_project_path, class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
      
      <% if @projects %>
        <ul class="list-unstyled">
        <% @projects.each do |project| %>
          <%= link_to project_path(project), class: "col-12 btn bg-light text-primary text-left" do %>
          <li class="media">
            <i class="fas fa-tasks fa-5x align-self-start mr-3" alt="task"></i>
            <div class="media-body">
              <h5 class="mt-0"><%= project.title %></h5>
              <p><%= project.summary %></p>
            </div>
          </li>
          <% end %>
        <% end %>
        </ul>
      <% end %>
      
    </div>
  </div>
</div>