<div class="container-fluid">
  <div class="row">
    <div class="col-lg-8">
      
      <div class="row align-items-center">
        <div class="col-12 col-sm-9">
          <h1>Projects</h1>
        </div>
        <% if logged_in? %>
          <div class="col-12 col-sm-3">
            <%= link_to 'New Project', new_project_path, class: "btn btn-primary btn-block" %>
          </div>
        <% end %>
      </div>
      
      <% if @projects %>
      
        <%= render "shared/index_for_projects_or_tasks", objs: @projects %>
        
      <% end %>
      
    </div>
  </div>
</div>