// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* For reset ================================ */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font: 100%/1.5 "SF Pro JP", "SF Pro Text",
    "SF Pro Icons", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3",
    メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue",
    Helvetica, Arial, sans-serif;
  line-height: 1.5;
  letter-spacing: 1px;
  height: 100%;
}
/* End reset ================================ */